<%- include('partials/header') %>

  <main class="fixed">
    <section id="one" class="left" aria-expanded="true">
      <p>Hello, World!</p>
      <p>Welcome to the www showroom of MEOTTAERO at <a href="https://www.seoularts.ac.kr/" rel="noopener noreferrer"
          target="_blank">Seoul Institute of the Arts</a>.</p>
      <p>MEOTTAERO is a performance crew dedicated to exploring movement, expression, and collaborative arts. Guided by
        the philosophy of performing "as we please, in our own style."</p>
      <p>Happy exploring!</p>
    </section>
    <section id="two" class="right" aria-expanded="true">
      <div class="project init">
        <div class="headline">
          <h2>MEOTTAERO&thinsp;&mdash;&thinsp;<span class="bold"><a href="/projects/the-sia-vol-2">THE SIA Vol.2 예매하기</a></span>
          </h2>
        </div>
        <div class="gallery">
          <a href="/projects/the-sia-vol-2" class="block">
            <img class="gallery" src="/thesia_vol.2.png?v=2" alt="THE SIA Vol.2 Logo" style="max-width: 420px; width: 100%; border: none; margin-top: 1.5rem; margin-bottom: 1.5rem;">
          </a>
        </div>

        <div class="headline" style="margin-top: 3rem;">
          <h2>MEOTTAERO&thinsp;&mdash;&thinsp;<span class="bold"><a href="/projects/다놀다농">다놀다농 신청하기</a></span>
          </h2>
        </div>
        <div class="gallery">
          <a href="/projects/다놀다농" class="block">
            <img class="gallery" src="/다놀다농_logo.png?v=5" alt="다놀다농 Logo" style="max-width: 420px; width: 100%; border: none; margin-top: 1.5rem; margin-bottom: 1.5rem;">
          </a>
        </div>
      </div>
    </section>
  </main>

  <%- include('partials/footer') %>